body {
  padding: 0;
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1080px;
}

.wrapper {
  display: flex;
  width: 450px;
  height: 350px;
}

.results-container {
  box-shadow: 0px 0px 1px gray;
  z-index: 5;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: hsl(0, 0%, 100%);
  border-radius: 16px;
}

.results-container > h2 {
  font-size: 16px;
  opacity: 0.7;
}

.results-circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-circle > p {
  margin: 0;
}
.results-circle > p:first-child {
  font-size: 40px;
}

.results-circle > p:nth-child(2) {
  opacity: 0.5;
}

.results-grade {
  margin-bottom: -15px;
}

.info {
  width: 80%;
  text-align: center;
  font-size: 12px;
  opacity: 0.7;
}

.summary-container {
  box-shadow: 0px 0px 1px gray;
  margin-left: -8px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0px 16px 16px 0px;

  width: 60%;
}

.summary {
  font-size: 14px;
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  width: 225px;
  margin-top: 20px;
}

.summary-scores {
  margin-top: -20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scores {
  display: flex;
  border-radius: 6px;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

p span {
  white-space: pre;
}

.scores > p {
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p > img {
  height: 12px;
  margin-right: 6px;
}

.low {
  font-weight: 700;
}

#reaction p:first-child {
  color: hsl(0, 100%, 67%);
  font-weight: 700;
}

#memory > p:first-child {
  color: hsl(39, 64%, 4%);
  font-weight: 700;
}

#verbal > p:first-child {
  color: hsl(166, 100%, 37%);
  font-weight: 700;
}

#visual > p:first-child {
  color: hsl(234, 85%, 45%);
  font-weight: 700;
}

#reaction {
  background-color: hsl(0, 100%, 96%);
}

#memory {
  background-color: hsl(39, 100%, 96%);
}

#verbal {
  background-color: hsl(166, 100%, 96%);
}

#visual {
  background-color: hsl(234, 85%, 94%);
}

button {
  width: 200px;
  border-radius: 20px;
  padding: 6px;
  color: hsl(0, 0%, 85%);
  background-color: hsl(224, 30%, 27%);
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  body {
  }
  .wrapper {
    margin-bottom: 400px;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }

  .scores {
    width: 170px;
  }

  button {
    width: 170px;
  }

  .results-container {
    width: 50%;
    border-radius: 0px 0px 16px 16px;
  }

  .summary-container {
    margin-top: -10px;
    margin-left: 0;
    width: 50%;
    border-radius: 0px 0px 0px 0px;
  }

  .info {
    width: 70%;
    font-size: 9px;
  }
  .results-grade {
    margin: 0;
  }

  .summary {
    margin-top: 40px;
    margin-left: 50px;
  }

  .summary {
    font-size: 12px;
  }
}
